#!/bin/bash

##################################################
#                                                #
#  This sample configuration file is intended to #
#  serve as an example of what a reasonable      #
#  default configuration might look like. The    #
#  file that will actually be used should be     #
#  called simply "config," and should be placed  #
#  in the same directory as this one. It is      #
#  suggested that, to begin with, you copy the   #
#  contents of this file into a file of that     #
#  name and change the values as needed.         # 
#                                                #
##################################################



# Default IP configuration
DEFAULT_EXIP='10.0.0.1/24'
DEFAULT_ADDR='10.0.0.1'
DEFAULT_MASK='255.255.255.0'
DEFAULT_RANG='10.0.0.2,10.0.0.254,2m'

# Network interface configuration
MESH_IFACE='wlan0'
MESH_CHANNEL='1'
ESSID='mesh'

# Enable KadNode decentralize name resolution
ENABLE_KADNODE='0'

# Network Gateway Status
NET_GATEWAY='client'

# The name that will be used to access this node on the proto-mesh
HOSTNAME='raspberryN.p2p'
