#!/bin/bash

##################################################
#                                                #
#  This sample configuration file is intended to #
#  serve as an example of what a reasonable      #
#  default configuration might look like. The    #
#  file that will actually be used should be     #
#  called simply "config," and should be placed  #
#  in the same directory as this one. It is      #
#  suggested that, to begin with, you copy the   #
#  contents of this file into a file of that     #
#  name and change the values as needed.         #
#                                                #
##################################################



# Default IP configuration
DEFAULT_EXIP='10.0.0.1/24'
DEFAULT_ADDR='10.0.0.1'
DEFAULT_MASK='255.255.255.0'
DEFAULT_RANG='10.0.0.2,10.0.0.254,2m'
DEFAULT_IFACE='wlan0'

# Default communication channel. (NOTE: This is not the same as a 802.11 wifi
# channel. Communication channels represent any non-overlapping mode of
# communication two nodes can use to communicate. The key feature of channels is
# that two nodes communicating on one channel cannot be heard by a node on a
# different channel. Distint channels can mean anything from different ESSIDs,
# to diffent WiFi channels (1,6,11), to completely differnt hardware devices
# (ethernet, USRP, ZigBee...). New channels can be defined in the "channels"
# folder). If you would like to change your wifi settings please refer to
# channels/.wifi/config.
DEFUALT_CHANNEL='wifi-1'

# Joint Configuration
JOINT_FLAG='False'
JOINT_IFACE='eth0'

# Enable KadNode decentralize name resolution
ENABLE_KADNODE='0'

# Network Gateway Status
NET_GATEWAY='client'


# The name that will be used to access this node on the proto-mesh
HOSTNAME='raspberryN.p2p'
