[Unit]
Description=Manage Protomesh

[Service]
Type=oneshot
WorkingDirectory=/etc/proto-mesh/
ExecStart=/etc/proto-mesh/start.sh
ExecStop=/etc/proto-mesh/shutdown.sh
ExecReload=/etc/proto-mesh/shutdown.sh
ExecReload=/etc/proto-mesh/start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
